<label>
    Minutes
    <input
        #minutes
        type="number"
        min="0"
        max="59"
        placeholder="minutes"
        [value]="directive.getMinutes()"
        (change)="directive.updateTime(minutes.value, 'minutes')"
    />
</label>
<label>
    Seconds
    <input
        #seconds
        type="number"
        min="0"
        max="59"
        placeholder="seconds"
        [value]="directive.getSeconds()"
        (change)="directive.updateTime(seconds.value, 'seconds')"
    />
</label>