<div class="clock" *ngIf="directive.totalSeconds$ | async as clock">
    {{ clock | scattTimeFormat }}
</div>

<div class="buttons">
    <button class="buttons__start" type="button" (click)="directive.startTimer(directive.getTotalSeconds())">
        Start
    </button>
    <button class="buttons__pause" type="button" (click)="directive.emitStopEvent()">
        Pause
    </button>
    <button class="buttons__pause" type="button" (click)="directive.resetTimer()">
        Reset
    </button>
</div>
